name: CI

on:
  push:
    branches:
      - 'feat/**'
      - 'feature/**'
      - 'fix/**'
      - 'bugfix/**'
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install Flox
        uses: flox/install-flox-action@e3e10c1a9c83c2caa23418edfbb3cee2cbece59f # v2.2.0

      - name: Run pre-commit
        run: flox activate -- prek run --all-files

      - name: Run tests
        run: flox activate -- just test
